.main_comics_container{
  background-color: var(--red-bg-color);
  /* clip-path: polygon(0 0%, 100% 0, 75% 100%, 0% 100%); */
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  height: 100%;
}

.comics{
  width: 20%;
  height: 100%;
  margin: 1.5px;

  background-size: cover;
  background-position: center;

  border: 3px solid var(--dark-bg-color);

  transition: 0.5s;
}

@media (max-width: 1024px){
  .main_comics_container{
    clip-path: none;
    width: 100%;
    padding: 0px;
  }
}
@media (max-width: 768px){
  .main_comics_container{
    clip-path: none;
    padding: 0px;
  }

}

@media (max-width: 647px){
  .main_comics_container{
    clip-path: none;
    padding: 0px;
  }

}

@media (max-width: 450px){
  .main_comics_container{
    clip-path: none;
    padding: 0px;
  }

}