:root {
  font-size: 62.5%;
  font-family: sans-serif;
  --light-bg-color: #ecf0f1;
  --grey-bg-color: #7f8c8d;
  --red-bg-color: #E62429;
  --dark-bg-color: #151515;
  }

body {
  width: 100vw;
  background-color: var(--dark-bg-color);
  overflow-x: hidden;
  }


  .main{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50vh;
    background-color: var(--dark-bg-color);
  }
  
  .main_title_container{
    width: 100%;
    height: 100%;

    padding-left: 100px;
  
  
    user-select: none;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    background-color: var(--dark-bg-color);
    filter: brightness(1.3);
  
    font-family: 'Cabin';
  }
  
  .main_img_container{
    display: flex;
    justify-content: center;
    width: 20%;
  }
  
  .main_img{
    width: 150px;
    aspect-ratio: 1/1;
  }
  
  .main_title_h1{
    font-size: clamp(3rem, 4vw, 5rem);
    text-align: center;
    color: var(--light-bg-color);
  }
  
  .main_title_h3{
    font-size: clamp(1rem, 3vw, 2rem);
    width: 90%;
    text-align: center;
    color: var(--light-bg-color);
  }
  
  .cards_parent{
    display: flex;
    height: 25%;
    flex-direction: column;
    text-align: center;
    margin-top: 25px;
    z-index: 0;
  }

  .meet_hero_title{
    font-size: 4rem;
  }

.button_container{
  margin-top: 20px;
  width: 100%;

}

.meet_all_herous{
  min-width: 10%;
  padding: 5px;
  border: 2px solid #f39c12;
  border-radius: 20px;
  background:none;
  font-size: 1.5rem;
  font-weight: 800;
  cursor: pointer;
}

.meet_all_herous a{
  text-decoration: none;
  color: var(--light-bg-color);
}

footer{
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: flex-end;
  background-color: var(--light-bg-color);
}


  @keyframes spin{
    100%{
      transform: rotate(360deg);
    }
  }

  @media (max-width: 1024px){
    .main{
      height: 40vh;
      flex-direction: column;
    }
    .main_title_container{
      clip-path: none;
      width: 100%;
      flex-direction: column;
    }
    .main_img{
      width: 100px;
      aspect-ratio: 1/1;
    }
    .trivia_container{
      padding-left: 0px;
    }

  }
  
  @media (max-width: 768px) {
    
    main{
      height: 200px;
    }
    .main_title_container{
      clip-path: none;
      flex-direction: column;
      padding-left: 0;
    }

    .main_img{
      width: 70px;
      aspect-ratio: 1/1;
    }
    .card_holder{
      padding-left: 0px;
    }
    .card_container{
      padding: 0;
    }
    .meet_hero_title{
      font-size: 4vw;
    }
    .scrollButtons{
      display: none;
    }

  }
  
  @media (max-width: 647px){
    .main_title_container{
      clip-path: none;
      flex-direction: column;
      padding-left: 0;
    }
  
  }