.toggle{
  color: var(--dark-bg-color);
  font-size: 4rem;
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background-color: var(--light-bg-color);
  z-index: 9999;
}

.toggle.active{
  background-color: var(--red-bg-color);
}

@media (max-width: 842px){
  .toggle{
    display: flex;
  }
}